
  .ModalWrapper1 {
    min-width: 680px;
    height: 500px;
    display: flex;
    flex-direction: row;
    background: #fff;
    color: #000;
  }
  .Background {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(185, 151, 151, 0.115); */
    filter: blur(5px);
  }
  
  .ModalImg1 {
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
    background: #000;
  }
  .my-2 {
    margin-top: -2.5rem !important;
  }
  .h {

    margin-top: 6.5rem!important;
    margin-bottom: 3rem!important;
}
  .ModelHeader {
    position: relative;
    top: 10px;
    left: 20px;
    height: 32px;
    z-index: 10;
  }
  .form {
    position: relative;
  font-size: medium;
    left: 20px;
    height: 32px;
    padding: 20px;
    z-index: 10;
  }
  


  #submitbutton {
    color: #ffffff;
    background: #1b2d51;
  }
  .error-msg{
    font-size: smaller;
    color: rgb(250, 50, 50);
    text-align: justify;
    margin-left: 0.5rem;
  }
 
  